body {
    margin: 0;
}
#background {
    /* position */
    display: block;
    position: relative;

    /* skin */
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
    box-sizing: border-box;
    border: 1.8vh solid gray;
    border-radius: 3rem;
}

#picture_up {
    /* position */
    display: block;
    position: absolute;
    top: -6vh;
    left: -5.5vw;
    height: 48vh;
    width: 58vw;

    /* skin */
    clip-path: polygon(0% 0%, 100%  0%,50% 100%);
}

#picture_left {
    /* position */
    display: block;
    position: absolute;
    top: -4vh;
    left: -5.5vw;
    height: 95vh;
    width: 28vw;

    /* skin */
    clip-path: polygon(0% 0%, 100% 50%,0% 100%);
}

#picture_bottom {
    /* position */
    z-index: 2;
    display: block;
    position: absolute;
    top: 45vh;
    left: -5.5vw;
    height: 48vh;
    width: 58vw;

    /* skin */
    clip-path: polygon(0% 100%, 50% 0%,100% 100%);
}

#lattice {
    /* position */
    display: block;
    position: absolute;
    top: -6vh;
    right: 2vw;

    /* skin */
    height: 15vh;
    width: 35vw;
}

#header {
    /* position */
    display: block;
    position: absolute;
    top: 25vh;
    right: 4vw;

    /* skin */
    height: 30.5vh;
    width: 48vw;
}

#title {
    /* position */
    display: block;
    position: absolute;
    top: 10vh;
    right: 12vw;

    /* skin */
    height: 23vh;
    width: 35vw;
}

#die {
    /* position */
    display: block;
    position: absolute;
    top: 3vh;
    right: 2.5vw;

    /* skin */
    height: 10vh;
    width: 10vw;
}

#button_start {
    /* position */
    display: block;
    position: absolute;
    top: 26vh;
    right: 1vw;

    /* skin */
    height: 8vh;
    width: 10vw;
}

.train {
    /* position */
    display: block;
    position: absolute;
    bottom: 0vh;
    right: 33vw;

    /* skin */
    height: 10vh;
    width: 33vw;

    /* transition */
    transition-property: all;
    transition-duration: 0.5s;
}

.train_move {
    /* position */
    display: block;
    position: absolute;
    bottom: 0vh;
    right: 18vw;

    /* skin */
    height: 10vh;
    width: 33vw;

    /* transition */
    transition-property: all;
    transition-duration: 0.5s;
}